:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-panel {
  width: 800px;
  margin-top: 16px;
  align-self: center;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  grid-gap: 10px;
  margin-bottom: 20px;
}

:host ::ng-deep {
  .mat-paginator-outer-container {
    background-color: rgba(218, 218, 218);
  }
}
