<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Search Giphy</mat-label>
  <mat-chip-list #chipList aria-label="Search selection" (valueChange)="updateSearchTerm()">
    <mat-chip *ngFor="let searchTermTeg of searchTermTegs" (removed)="remove(searchTermTeg)">
      {{ searchTermTeg.searchTerm }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      placeholder="New search tag..."
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
</mat-form-field>
